<h1><%= @list.name %></h1>

<h3>To do</h3>
<%= form_with url: list_tasks_path(@list), local: true do |form| %>
  <%= form.hidden_field :name, value: @list.name %> 
  
  <%= form.fields_for :task do |task_form| %>
    <%= task_form.text_area :description, placeholder: "Nova tarefa" %>
  <% end %>

  <%= form.submit "+" %>
<% end %>
<h3>To do</h3>
<div>
  <% @todo_tasks.each do |task| %>
    <div>
      <%= task.description %>
      <%= button_to "Check", task_path(task), method: :put %>
    </div>
  <% end %>
</div>

<h3>FeitosS</h3>
<div>
  <% @completed_tasks.each do |task| %>
    <div>
      <%= task.description %>
      <%= button_to "Uncheck", task_path(task), method: :put %>
    </div>
  <% end %>
</div>

